<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hellmund.primetime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,ManifestResource">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".settings.ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hellmund.primetime.settings.ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hellmund.primetime.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.introduction.IntroductionActivity"
            android:label="@string/title_activity_introduction"
            android:theme="@style/AppTheme.Introduction" />
        <activity
            android:name=".history.HistoryActivity"
            android:label="@string/title_activity_history">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hellmund.primetime.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.selectstreamingservices.SelectStreamingServicesActivity" />
        <activity android:name=".onboarding.OnboardingActivity" />

        <receiver android:name=".utils.NotificationPublisher" />
    </application>

</manifest>